html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

#landingPage {
  background-image: url("../dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Noto Sans", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  min-height: 50vh;
}

#donate {
  color: #e6e4fc !important;
}

a:link {
  text-decoration: none;
}

section {
  padding: 10%;
}

section .sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  color: #e6e4fc !important;
  font-size: 1em !important;
}

.nav-link {
  color: #e6e4fc !important;
}

#brandTitle {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 10%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }
  to {
    margin-left: 0%;
  }
}

#rescue {
  min-height: 200vh;
}

#footerSection {
  min-height: 40vh;
  text-align: center;
}

#about,
#news,
#contact {
  background: #026269;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}

.slide {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slideup;
          animation-name: slideup;
  margin-top: 0%;
}

@-webkit-keyframes slideup {
  from {
    margin-top: 30%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }
  to {
    margin-top: 0%;
  }
}

@media screen and (min-width: 360px) and (orientation: portrait) {
  #rescue {
    height: 10vh;
  }
  #footer {
    min-height: 40vh;
  }
}

@media screen and (min-width: 375px) and (orientation: portrait) {
  #rescue {
    height: 10vh;
  }
  #footerSection {
    min-height: 40vh;
  }
}

@media screen and (min-width: 390px) and (orientation: portrait) {
  #rescue {
    height: 10vh;
  }
  #footerSection {
    min-height: 50vh;
  }
}

@media screen and (min-width: 412px) and (orientation: portrait) {
  #rescue {
    height: 10vh;
  }
  #footer {
    min-height: 50vh;
  }
}

@media screen and (min-width: 414px) and (orientation: portrait) {
  #rescue {
    height: 10vh;
  }
  #footerSection {
    min-height: 60vh;
  }
}

@media screen and (min-width: 820px) and (orientation: portrait) {
  #rescue {
    height: 30vh;
  }
  #footer {
    min-height: 60vh;
  }
}

@media screen and (min-width: 912px) and (orientation: portrait) {
  #rescue {
    height: 45vh;
  }
  #footer {
    min-height: 60vh;
  }
}

@media screen and (min-width: 653px) and (orientation: landscape) {
  #landingPage {
    height: 130vh;
  }
  @-webkit-keyframes slideup {
    from {
      margin-top: 5%;
    }
    to {
      margin-top: 0%;
    }
  }
  @keyframes slideup {
    from {
      margin-top: 5%;
    }
    to {
      margin-top: 0%;
    }
  }
  #rescue {
    height: 100vh;
  }
  #footerSection {
    min-height: 100vh;
  }
}

@media screen and (min-width: 667px) and (orientation: landscape) {
  #landingPage {
    height: 110vh;
  }
  #rescue {
    height: 40vh;
  }
  #footerSection {
    min-height: 10vh;
  }
  @-webkit-keyframes slideup {
    from {
      margin-top: 10%;
    }
    to {
      margin-top: 0%;
    }
  }
  @keyframes slideup {
    from {
      margin-top: 10%;
    }
    to {
      margin-top: 0%;
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #landingPage {
    height: 150vh;
  }
  @-webkit-keyframes slidein {
    from {
      margin-left: 30%;
    }
    to {
      margin-left: 0%;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 30%;
    }
    to {
      margin-left: 0%;
    }
  }
  #brandTitle {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  #donate {
    margin-left: 290%;
  }
  #navbarTogglerDemo02 {
    margin-left: 50%;
    margin-top: -2%;
  }
  #rescue {
    height: 40vh;
  }
  #footerSection {
    min-height: 60vh;
  }
}

@media screen and (min-width: 1180px) and (orientation: landscape) {
  #landingPage {
    height: 150vh;
  }
  #donate {
    margin-left: 780%;
  }
  #navbarTogglerDemo02 {
    margin-left: 55%;
    margin-top: -2%;
  }
  #rescue {
    height: 40vh;
  }
  #footerSection {
    min-height: 60vh;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  #landingPage {
    height: 150vh;
  }
  #donate {
    margin-left: 780%;
  }
  #navbarTogglerDemo02 {
    margin-left: 60%;
    margin-top: -2%;
  }
  #rescue {
    height: 40vh;
  }
  #footerSection {
    min-height: 60vh;
  }
}

@media screen and (min-width: 1368px) and (orientation: landscape) {
  #rescue {
    height: 50vh;
  }
  #footerSection {
    min-height: 70vh;
  }
}
/*# sourceMappingURL=style.css.map */