$navFontcolour: rgb(230, 228, 252) !important;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

#landingPage {
  background-image: url("../dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 65vh;
}

#donate {
  color: $navFontcolour;
}

a:link {
  text-decoration: none;
}

section {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  .sectionTitle {
    @include flexCenter();
  }
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  color: $navFontcolour;
  font-size: 1em !important;
}

.nav-link {
  color: $navFontcolour;
}

#brandTitle {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 40%;
  }

  to {
    margin-left: 0%;
  }
}

#missionTitle {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

#missionPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

#rescueTitle {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

#rescuePara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

// about page

#about,
#news,
#contact {
  background: rgb(2, 98, 105);
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}

.slide {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

// Media queries

// Portrait

@media screen and (min-width: 280px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 0s;
    animation-name: slidein;
  }
}

@media screen and (min-width: 360px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 0s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 10%;
  }
}

@media screen and (min-width: 375px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 0s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 20%;
  }
}

@media screen and (min-width: 393px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 0s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 30%;
  }
}

@media screen and (min-width: 540px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

@media screen and (min-width: 820px) and (orientation: portrait) {
  #landingPage {
    height: 40vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

// Landscape

@media screen and (min-width: 653px) and (orientation: landscape) {
  #landingPage {
    height: 140vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

@media screen and (min-width: 720px) and (orientation: landscape) {
  #landingPage {
    height: 90vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

@media screen and (min-width: 844px) and (orientation: landscape) {
  #landingPage {
    height: 130vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 50%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #landingPage {
    height: 100vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 290%;
  }
  #navbarTogglerDemo02 {
    margin-left: 50%;
    margin-top: -2%;
  }
  #contactSection {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1180px) and (orientation: landscape) {
  #landingPage {
    height: 80vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 290%;
  }
  #navbarTogglerDemo02 {
    margin-left: 50%;
    margin-top: -2%;
  }
  #contactSection {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  #landingPage {
    height: 90vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 390%;
  }
  #navbarTogglerDemo02 {
    margin-left: 60%;
  }
  #contactSection {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1326px) and (orientation: landscape) {
  #landingPage {
    height: 170vh;
  }
  #brandTitle {
    animation-duration: 3s;
    animation-name: slidein;
  }
  #donate {
    margin-left: 390%;
  }
  #navbarTogglerDemo02 {
    margin-left: 60%;
  }
  #contactSection {
    padding-left: 20%;
    padding-right: 20%;
  }
}
