$navFontcolour: rgb(230, 228, 252) !important;
$sectionBkgdColour: rgb(246, 248, 248);

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

#landingPage {
  background-image: url("../dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
}

section {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 25em;
  .sectionTitle {
    @include flexCenter();
    padding-top: 10%;
  }
  background-color: $sectionBkgdColour;
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  color: $navFontcolour;
  font-size: 1em !important;
}

.nav-link {
  color: $navFontcolour;
}

#donate {
  // border-radius: 30px;
  background-color: transparent;
  margin-top: 71%;
  // width: 30vw;
  // height: 9vh;
  width: 20vw;
  height: 6vh;
  border-radius: 15px;
  font-weight: 500;
  font-size: 0.9em;
  margin-left: 39%;
  color: white;
  border: 1px solid white;
  &:hover {
    background-color: rgb(248, 248, 248) !important;
    color: rgb(3, 93, 105);
  }
}

#brandTitle {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

#leadingPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

#whyPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 10%;
  }

  to {
    margin-top: 0%;
  }
}

#supportPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 10%;
  }

  to {
    margin-top: 0%;
  }
}

#emailPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}

#letterPara {
  animation-duration: 3s;
  animation-name: slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}
